@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* --------------------------------Header-------------------------------- */

.main-container {
    background-image: url(../Pics-logos/main-BG.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.header {
    width: 100vw;
}

.header-container {
    width: 100vw;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 400ms;
}

.header-container:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.left-logo h2 {
    font-size: 22px;
    margin-left: 79px;
    font-weight: 700;
    transition: linear 200ms;
}

.left-logo:hover {
    color: rgba(1, 129, 63, 1);
}

.header-right-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.logo-1 {
    background-image: url(../Pics-logos/calendar.svg);
    width: 21px;
    height: 24px;
    transition: linear 300ms;
    cursor: pointer;
}

.logo-1:hover {
    background-image: url(../Alt-logos/calendar-alt-regular\ 1.svg);
}

.logo-2 {
    background-image: url(../Pics-logos/letter.svg);
    width: 23px;
    height: 23px;
    background-size: 100%;
    transition: linear 300ms;
    cursor: pointer;
}

.logo-2:hover {
    background-image: url(../Alt-logos/envelope-open-regular\ 1.svg);
    background-size: 100%;
}

.logo-3 {
    background-image: url(../Pics-logos/compass.svg);
    width: 23px;
    height: 23px;
    transition: linear 300ms;
    cursor: pointer;
}

.logo-3:hover {
    background-image: url(../Alt-logos/compass-regular\ 1.svg);
}

.right-menu-link {
    color: rgb(206 237 211);
    opacity: 0.85;
    transition: linear 300ms;
}

.right-menu-link:hover {
    color: rgba(1, 129, 63, 1);


}

.header-link:nth-child(4) {
    border-left: 1px solid rgb(255, 255, 255);
    margin-right: 79px;
    padding-left: 27px;
    font-size: 14px;
}

.header-link:nth-child(3) {
    padding-right: 25px;
    margin-left: 24px;
}

.header-link:nth-child(2) {
    margin-left: 27px;
    padding: 18px 0px;
}


/* --------------------------------Main-------------------------------- */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 444px;
    height: 626px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.6);
}

.top-login-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.green-box {
    background: rgba(60, 184, 120, 1);
    width: 18px;
    height: 18px;
    position: absolute;
}

.top-logIn {
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 31px;
    margin-bottom: 15px;
}

.signUp {
    color: black;
    font-size: 20px;
}

.logIn {
    font-size: 14px;
    color: rgba(60, 184, 120, 1);
    transition: linear 200ms;
}


.logIn:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

/* --------------------------------Buttons and line-------------------------------- */

.buttons {
    display: flex;
    justify-content: space-between;
}

.FB,
.Google {
    border: none;
    border-radius: 4px;
    width: 157px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
}

.FB {
    background-color: rgba(48, 93, 184, 1);
    transition: linear 200ms;
}

.FB:hover {
    background-color: rgba(2, 34, 99, 1);

}

.button-logo-1 {
    width: 12.46px;
    margin-left: 16.77px;
    padding: 12px 0px;
}

.button-text-1 {
    border-left: 1px solid rgba(10, 22, 47, 0.100);
    padding-left: 27px;
    margin-right: 22px;
}

.Google {
    background-color: rgba(223, 74, 50, 1);
    transition: linear 200ms;
}

.Google:hover {
    background-color: rgba(171, 31, 9, 1);

}

.button-logo-2 {
    width: 30px;
    padding: 15px 0px;
    margin-left: 12px;
}

.button-text-2 {
    border-left: 1px solid rgba(43, 13, 9, 0.1);
    padding-left: 30px;
    margin-right: 27px;
}

.line {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

hr {
    width: 152px;
    opacity: 20%;
    background-color: rgba(242, 242, 242, 0.1);
}

.line-text {
    color: rgba(132, 132, 132, 1);
    padding: 0px 5px;
}

/* --------------------------------Inputs-------------------------------- */

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 91%;
    padding: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 15px;
}

input::placeholder {
    color: #BEBEBE;
}

input:focus {
    outline-style: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: rgba(67, 67, 67, 1);
    transition: linear 200ms;
}

/*-------------------------------- Agreement and create-account button --------------------------------*/

.Agreement {
    display: flex;
    color: rgba(67, 67, 67, 1);
    margin-top: 12px;
}

.Agreement-text-color {
    color: rgba(60, 184, 120, 1);
    transition: linear 200ms;
}

.Agreement-text-color:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.Agreement-text {
    margin-left: 11px;
}

.create-account {
    width: 100%;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 16px 0px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: linear 200ms;
}

.create-account:hover {
    background-color: rgba(1, 129, 63, 1);
}